.statistic-container {
    display: flex;

    .content-right {
        width: calc(100% - 240px);
        background: #F7F8FC;

        .custom-content {
            margin-left: 20px;
            display: flex;
            margin-bottom: 5px;
            gap: 80px;

            span {
                margin-left: 5px;
            }
        }

        .body-content {
            margin: 0 20px;
            height: 300px;
            background: #FFFFFF;

            .first-row {
                display: flex;

                .first-content {
                    margin-left: 20px;
                }

                .second-content {
                    display: flex;
                    margin-left: auto;
                    margin-right: 20px;
                    gap: 80px;

                    span {
                        margin-left: 5px;
                    }
                }
            }

            .second-row {
                display: flex;

                .first-content {
                    margin-left: 20px;
                    display: flex;
                    gap: 100px;
                }

                .second-content {
                    display: flex;
                    margin-left: auto;
                    margin-right: 40px;
                    gap: 200px;
                }
            }

            .third-row {
                display: flex;
                border-bottom: 1.5px solid #DFE0EB;
                border-top: 1.5px solid #DFE0EB;
                padding-top: 50px;
                padding-bottom: 50px;

                .first-content {
                    margin-left: 20px;
                    display: flex;
                    gap: 70px;
                }

                .second-content {
                    display: flex;
                    margin-left: auto;
                    margin-right: 40px;
                    gap: 120px;

                    .sort {
                        text-align: center;
                    }
                }
            }
        }
    }
}