.area-container {
    display: flex;

    .content-right {
        width: calc(100% - 240px);
        background: #F7F8FC;

        .body-content {
            margin: 0 20px;
            height: 650px;
            background: #FFFFFF;
        }
    }
}