.header-content {
    height: 100px;
    display: flex;
    padding-top: 30px;

    .first-content {
        width: 750px;

        i {
            margin-left: 5px;
        }

        span {
            margin-left: 10px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.3px;
        }
    }

    .second-content {
        .bell {
            margin-left: 20px;
        }
    }

    .third-content {
        margin-left: 280px;

        span {
            margin-right: 15px;
        }
    }
}