.content-left {
    width: 240px;
    background-color: #282c34;
    height: 100vh;

    .first-content {
        height: 100px;
        text-align: center;
        padding-top: 35px;

        span {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #A4A6B3;
            opacity: 0.7;
        }
    }

    .second-content {
        ul {
            li {
                background-color: #282c34;
                color: #A4A6B3;
                border: none;

                span {
                    margin-left: 20px;
                }
            }
        }
    }

    .third-content {
        border-top: 1px solid #DFE0EB;

        ul {
            li {
                background-color: #282c34;
                color: #A4A6B3;
                border: none;

                span {
                    margin-left: 20px;
                }
            }
        }
    }
}

.topnav {
    background-color: #282c34;
    overflow: hidden;
    display: flex;

    i {
        padding-top: 5px;
    }

    a {
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        color: #A4A6B3;
    }
}

.topnav:hover {
    background: #9FA2B4;
    color: black;

    span {
        color: black;
    }
}

.topnav .active {
    span {
        background-color: #9FA2B4;
        color: black;
    }
}